<nav class="navbar-expand-lg bg-success-subtle">
  <div class="container-fluid">
    <h1 class="navbar-brand text-center fs-3 pt-4">ToDo App</h1>
  </div>
  <div class="container mt-3">
    <div class="row ps-2 pe-2">
      <div class="col text-center p-2 first" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-house"></i> HOME</div>
      <div class="col text-center p-2 mid" routerLink="add-todo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-plus"></i> ADD</div>
      <div class="col text-center p-2 last" routerLink="archive" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-box-archive"></i> ARCHIVE</div>
    </div>
  </div>
</nav>