<div class="container">
  <div class="text-center" >
    <button [disabled]="archive.length === 0" class="btn btn-danger" (click)="delete()"><i class="fa-solid fa-trash"></i> Delete All</button>
  </div>
  <div class="row mt-4" *ngIf="archive.length !== 0; else empty">

    <div class="col-md-6 col-lg-4 p-0" *ngFor="let todo of archive">
      <div class="card m-1">
        <div class="card-body">
          <div class="card-title border-bottom border-2 d-flex justify-content-between align-center">
            <h3>Title</h3>
            <h5 class="text-success"><i class="fa-solid fa-check"></i> Completed</h5>
          </div>
          <div class="card-text border-bottom border-2">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur placeat dolorum, quas eaque tempora dicta aliquid
              fuga vel pariatur sunt labore neque quam dolores alias cumque
              temporibus illum quidem reprehenderit quibusdam! Beatae recusandae
              rerum reiciendis enim, fugiat, minus adipisci illo doloribus nemo
              corporis assumenda totam consequatur blanditiis maiores itaque
              provident!
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ng-template #empty>
    <h5 class="text-center mt-3 alert alert-dark">
      😆The archive is empty.😆
    </h5>
  </ng-template>
</div>
