<div class="container">

  <div class="d-flex align-center justify-content-center mt-3 alert alert-info" *ngIf="isLoading">
    <div class="spinner-border me-3" role="status"></div>
    <h5 class="text-center mb-0">Loading, please wait...</h5>
  </div>

  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{currentTodo?.title}}</h1>
      <p class="card-text border-bottom border-2 pb-2 mb-2">{{currentTodo?.description}}</p>
      <div class="text-center">
          <button class="btn btn-success m-1" data-bs-toggle="modal" data-bs-target="#complete" type="button"><i class="fa-solid fa-check"></i></button>
          <button class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#confirm" type="button"><i class="fa-solid fa-trash"></i></button>
          <button class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#edit" type="button"><i class="fa-solid fa-pen"></i></button>
      </div>
    </div>
  </div>

  <!-- Modal for confirmation when deleting a todo -->
  <div class="modal fade" id="confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-danger" id="staticBackdropLabel"><i class="fa-solid fa-triangle-exclamation"></i> DANGER</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{ currentTodo?.title }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteTodo(currentTodo?.id)"><i class="fa-solid fa-trash"></i> Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for editting current todo -->
  <div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-primary" id="staticBackdropLabel"><i class="fa-solid fa-pen"></i> Editing {{ currentTodo?.title }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="form" #editForm="ngForm" (click)="editTodo(editForm)">
            <div class="form-group">
              <label class="form-label">Title</label>
              <input type="text" class="form-control" #title name="title" [(ngModel)]="currentTodo.title">
            </div>
            <div class="form-group">
              <label class="from-label">Description</label>
              <textarea cols="30" rows="10" class="form-control" #desc name="desc" [(ngModel)]="currentTodo.description"></textarea>
            </div>
            <div class="form-group">
              <label class="form-label">Due date</label>
              <input type="date" class="form-control" [min]="today" #date name="date" [(ngModel)]="currentTodo.dueDate">
            </div>

            <div class="modal-footer">
              <button id="liveToastBtn" type="submit" class="btn btn-success" data-bs-dismiss="modal"><i class="fa-solid fa-floppy-disk"></i> Save</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for task completion confirmation -->
  <div class="modal fade" id="complete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-primary" id="staticBackdropLabel"><i class="fa-solid fa-pen"></i> Complete {{ currentTodo?.title }}.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to mark {{ currentTodo?.title }} as complete?
        </div>
        <div class="modal-footer">
          <button id="liveToastBtn" type="button" data-bs-dismiss="modal" class="btn btn-success" (click)="completeTodo()"><i class="fa-solid fa-check"></i> Complete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
